apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
  labels:
    app: monitoring
    env: cluster
spec:
  project: default
  
  source:
    # Helm chart depuis le repository Prometheus Community
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 65.8.1
    chart: kube-prometheus-stack
    
    # Values depuis notre repository Git
    helm:
      valueFiles:
        - https://raw.githubusercontent.com/luneski/kubernetes-learning/dev/manifests/monitoring/base/values.yaml
  
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
