name: Build & Push (GHCR)

on:
  push:
    branches: [dev, main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set image tags
        id: vars
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "TAG=prod" >> $GITHUB_OUTPUT
          else
            echo "TAG=dev" >> $GITHUB_OUTPUT
          fi
          echo "SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: ./apps/demo
          push: true
          tags: |
            ghcr.io/luneski/kubernetes-learning-demo:${{ steps.vars.outputs.TAG }}
            ghcr.io/luneski/kubernetes-learning-demo:${{ steps.vars.outputs.SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
